<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>ABOUT US</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
        accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
        accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
        accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
        accusamus.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
