<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sudais web app</title>
  </head>
  <body>
    <h1>HOME PAGE aka INDEX PAGE</h1>
    <strong>we are all gonna make it just trust the process</strong>
    <h3>
      <nav>
        <a href="/">home page</a>
        <a href="/about-us">ABOUT</a>
      </nav>
    </h3>
  </body>
</html>
